body {
	margin: 0px;
	padding: 0px;
	position: relative;
	width: 100%;
	height: 100%;
}


div {
	
	vertical-align: bottom;
	height: 100%;
	padding: 0px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	
}


#HeaderDiv {
	width: 350px;
	height: 20px;
	background:rgba(255,255,255,0.5);
	border-radius: 5px;
}

*:fullscreen, *:-webkit-full-screen, *:-moz-full-screen {
	background-color: rgba(255, 255, 0, 1);
}

#container:fullscreen {
	background-color: rgba(255, 255, 255, 0);
}

#container:-webkit-full-screen {
	background-color: rgba(255, 255, 255, 0);
}

#container:-moz-full-screen {
	background-color: rgba(255, 255, 255, 0);
}

div:-webkit-full-screen>canvas {
	width: 100%;
}

div:-moz-full-screen>canvas {
	width: 100%;
}

div:-ms-fullscreen>canvas {
	width: 100%;
}

div:fullscreen>canvas {
	width: 100%;
}

input#chat {
	width: 500px;
	position: relative;
	font-size: 14px;
}

#inputDiv {
	padding: 3px;
	border: 2px solid #ff9900;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 505px;
}

#console-container {
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#console {
	border: 2px solid #ff9900;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 170px;
	overflow-y: scroll;
	padding: 5px;
	width: 500px;
	position: relative;
	top: 2px;
}

#console p {
	padding: 0;
	margin: 0;
	position: relative;
}

#canvasDiv {
	position: relative;
	width: 512px; /* 1024×576 or 16:9 */
	height: 288px;
	position: relative;
	border: 2px solid #ff9900;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	/*background-color:white;
	z-index: -20000;*/
}


#messageDiv_holder {
	padding: 5px;
	width: 512px;
}

#messageDiv {
	position: relative;
	position: relative;
	border: 2px solid #ff9900;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#chatArea {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 512px;
}

p {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0em;
    margin-bottom: 0em;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}


#menuDiv {
	position: absolute;
	width: 100%;
	border: 0px solid;
	height: 30px;
	text-align: center;
}

button {
	position: relative;
	padding: 1px;
	font-size: 12px;
    /*font-weight: bold;*/
    /*background-color: blue;*/
    background-color:blue;
    opacity: 0.25;
	color: white;
	border: 0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

button:hover {
	background-color:blue;
	color: white;
	opacity: 1;
}

HeaderDiv{
	width:100%;
	height:30px;
}

.info{
	color: #666666;
}

.infolabel{
	font-weight: bold;
	color: #666666;
	
}
