@CHARSET "UTF-8";

div {
	text-align: center; 
	vertical-align: bottom;
	height: 100%;
	padding: 5px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.feebbackform {
	text-align: left; 
	vertical-align: top;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background:rgba(255,255,255,0.75);
	/* border: 1px solid #ff9900; */
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

.messageBox {
	position:relative;
	height:400px;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	background:rgba(255,255,255,0.5);
	border: 1px solid #ff9900;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	top:0px;
	display:none;
	z-index:10;
}

.messageBoxBG {
	background-image: url("images/ajax-loader.gif");
	background-repeat: no-repeat;
    background-position: center; 
}

.messageBoxActive {
	position:relative;
	height:400px;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ff9900;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	background-color: #ffcc66;
	color: black;
}

textarea {
   resize: none;
   width: 100%;
}

@media (min-width: 430px) {
	textarea {
		width: 400px;
	}
}