
.top-gap{
	
}

@media (min-width: 430px) {
	.top-gap{
		top: 10%;
	}
}

div {
	text-align: center; 
	vertical-align: bottom;
/*	height: 100%;*/
	padding: 5px;
/*	width: 100%; */
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
}


.timeClass {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.btn-file {
	position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
        position: relative; 
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.Message_Area_Start_Clear{
	height: 22px;
}

.Message_Area_Start_Focus{
	background-color: #ffcc66;
	color: black;
	border: 1px solid #ff9900;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 20px;
	/*width: 100px;*/
	display: inline-block;
	margin: auto;
}


#background {
	width 100%;
	height 100%;
}



.botton_div {
	display: inline-block;
	width: 100%;
}
/*
#Share_div {
	height: 20px;
}

#Join_div {
	height: 20px;
}

button {
	position: relative;
	padding: 5px;
	font-size: 14px;
	display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    background-color: #ffcc66;
	color: #333333;
	border: 0;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-ms-transform: translate(-10px,0px);
   	-webkit-transform: translate(-10px,0px);
    transform: translate(-10px,0px);
    transition: all 0.5s ease-out 0s;
}

.buttonspan {
  display: inline-block;
  vertical-align: middle;
}

button:hover {
	background-color: #ff9900;
	color: #ffffff;
}

input {
	padding: 3px;
}

input[type="text"], input[type="email"]{
	text-align:left;
	display:inline;
	width: 250px;
}

input[type="date"] {
	text-align:left;
	display:inline;
	font-size: 10px;
}

.label{
	width: 75px;
}
 
.Action_Area_holder {
	width: 100%;
	height: 180px;
	margin-left: auto;
	margin-right: auto;
}
*/
.Start_Action {
	display: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background:#ff9900;
	border: 1px solid #999999;
	padding: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	/*
	-ms-transform: translate(-10px,0px); 
   	-webkit-transform: translate(-10px,0px); 
    transform: translate(-10px,0px);
    
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75); */
}

#BoardInputArea {
	width: 200px;
	/*position: fixed;*/
	margin-left: auto;
	margin-right: auto;
	zIndex: 1;
}
/*
.holder{
	float: left;
	padding: 0px;
	text-align: left;
	vertical-align: top;
	margin-top:0px;
	background:#ffcc66;
	border: 2px solid #996600;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75); 
}

.holder_ajax_load{
	background-image: url("images/ajax-loader.gif");
	background-repeat: no-repeat;
    background-position: center; 
}
*/

@media (max-width: 430px) {
video#bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	/*background: url(polina.jpg) no-repeat;*/
	background-size: cover;
}
}

#FBSend {
	width: 20px;
	height: 20px;
}

 /*
#SelectedPresentation, #SelectedWhiteboard {
    display: none;
}

input[type="radio"] + label .fa-circle  {
	display: none;
}

input[type="radio"]:checked + label .fa-circle {
	display: block;
	color: #993300;
}
*/
